<style >
  .error {
        color: red;
      }

  .container{
        border: 2px solid black; 
        background-color: #a2a5a7;
      }
  #border{

        border: 2px solid black;
        margin:  30px;
        padding:  25px;
        border-radius: 30px;
        background-color: #d0d0d0;
      }
  #buttn
          {
        background-color: green;
        color:black;
      }
      </style>